<h1 class="welcome">Welcome <%= @user.first_name %></h1>

<h2>Events You Created</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Starts At</th>
      <th>Ends At</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @user.created_events.each do |event| %>
    <tr>
      <td><%= event.name %></td>
      <td><%= event.location %></td>
      <td><%= event.starts_at %></td>
      <td><%= event.ends_at %></td>
      <td><a href="/events/<%= event.id %>/edit">EDIT</a></td>
      <td><form action="/events/<%= event.id %>/delete" method="POST">
      <input type="submit" value="DELETE"></form></td>
    </tr>
  <% end %>
</tbody>
</table>
<a id="create_event" href="/events/new">Create New Event</a>

<h2>Events You Have Attended</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Starts At</th>
      <th>Ends At</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @user.attended_events.each do |event| %>
    <tr>
      <td><%= event.name %></td>
      <td><%= event.location %></td>
      <td><%= event.starts_at %></td>
      <td><%= event.ends_at %></td>
    </tr>
  <% end %>
</tbody>
</table>